<h2>Login Form</h2>
<form (ngSubmit)="onLoginSubmit()" #loginform="ngForm">
  <div class="container">
    <div class="form-control">
      <input type="text" name="username" placeholder="Enter the username" ngModel />
    </div>
    <div class="form-control">
      <input type="password" name="password" placeholder="Enter the password" ngModel />
    </div>
    <div class="form-control">
      <button type="submit">Login</button>
    </div>
    <div style="padding: 10px;">
      Need an account ?&nbsp;<a routerLink="/register">Register</a>
    </div>
  </div>
</form>