<form (ngSubmit)="onLoginSubmit()" #loginform="ngForm">
  <div class="container">
    <div>
      <span>Login</span>
    </div>
    <div>
      <input type="text" name="username" placeholder="Enter the username" ngModel />
    </div>
    <div>
      <input type="password" name="password" placeholder="Enter the password" ngModel />
    </div>
    <div>
      <button type="submit">LOGIN</button>
    </div>
    <div>
      Need an account ?&nbsp;<a routerLink="/register">Register</a>
    </div>
  </div>
</form>